# General
target
Cargo.lock
.$roomplan.drawio.bkp
~$

# Keys & Private data
private
bell/bell-rs/code.key
services/router_basic_auth.key


# Added by cargo
/target
creds.hpp
wifi_data.hpp

# Electronics
electronics/pc-table/pc-table-backups
\#auto_saved_files\#
~*